<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
        <li class="breadcrumb-item active">Add business</li>
      </ol>
      <h4>Add your business on Agentify</h4> <small>We will make you avaliable to millions of people in less than a minute.</small>
    </div>
  </div>


  <div class="row" style="margin-top: 25px;">
    <div class="col-md-6">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

              <%= render 'shared/error_messages', object: f.object%>
            
            <div class="form-group">
              <%= f.label :business_name %>
              <%= f.text_field :business_name, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :business_email %>
              <%= f.email_field :email, autofocus: false, class: 'form-control' %>
              <small class="form-text text-muted">You'll use this to login when approved</small>
            </div>

            <div class="form-group">
              <%= f.label :agency_type %>
              <%= f.select :agency_type, options_for_select(agency_type), {prompt: "Select agency type"}, class: "form-control" %>
            </div>
            
            <div class="form-group">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <small>(<%= @minimum_password_length %> characters minimum)</small>
                <% end %>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                <small class="form-text text-muted">This will be used to log in when account is approved</small>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>

            <h4 class="legend">Location Information</h4>
            <hr class="section-divider">

            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_field :address, autofocus: false, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :city %>
              <%= f.text_field :city, autofocus: false, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :state %>
              <%= f.select :state, options_for_select(nigeria_states), {prompt: "Select state"}, class: "form-control" %>
            </div>

            <h4 class="legend" style="margin-top: 20px;">Your contact Information</h4>
            <hr class="section-divider">

            <div class="form-group">
              <%= f.label :your_name %>
              <%= f.text_field :requester_name, autofocus: false, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :your_email %>
              <%= f.text_field :requester_email, autofocus: false, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.submit "Sign up", class: 'btn btn-primary' %>
            </div>
          <% end %>

            <div class="form-group" style="margin-top: 40px;">
              <%= render "devise/shared/links" %>
            </div>
      </div>

      <!-- Card -->
      <div class="col-md-4 offset-md-2 hidden-sm-down" >
        <div class="card">
          <div class="card-header">Frequently Asked Questions</div>
          <div class="card-block">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <!-- End card -->
  </div>
</div>