<% provide(:title, "Change my password")%>

<div class="container">
  <div class="row m-t-14">
    <div class="col-md-12">
      <h2 class="text-center">
       Change your password
      </h2>
      <div class="col-md-4 offset-md-4 m-t-50 m-b-100">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.label :new_password %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.submit "Change my password", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>

        <div class="form-group m-t-14">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>