    <div class="jumbotron main-jumb">
        <div class="container">
            <h1 class="display-4 text-center m-t-30">Find verified agents all over Nigeria.</h1>
             <hr class="my-4">

             <%= form_tag(search_index_path, :method => "get") do %>
             <div class="row m-t-50">
             <div class="offset-md-1"></div>
                <div class="col-md-2 m-r--10">
                     <div class="form-group">
                        <%= select_tag :agency_type, options_for_select(agency_type), class: "form-control form-control-lg" %>
                    </div>
                </div>
                <div class="col-md-6 m-r--10">
                    <div class="form-group">
                        <%= text_field_tag :search, params[:search], class: "form-control form-control-lg", placeholder: "Enter agent name or location", maxlength: 30 %>
                     </div>
                </div>
                <div class="col-md-3">
                    <%= submit_tag "Find Agents", name: nil, class: "btn btn-outline-primary btn-block btn-lg" %>
                 </div>
             </div>
            <% end %>
        </div>    
    </div>

    <!-- Page Content -->
    <section class="content-section-a" style="margin-top: -40px !important;">

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Travel Agents:<br>Vacation and School</h2>
                    <p class="lead">Have access to verified travelling agents to help you when planning your next vacation or school admission procedures.</p>
                </div>
                <div class="col-lg-5 offset-lg-2">
                  <%= image_tag 'school.jpeg', class: 'img-fluid', alt: 'school image' %>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>

    <section class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 push-lg-7">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Real Estate Agents</h2>
                    <p class="lead">Locate verified Real Estate Agents in Nigeria to help you in buying or renting your next property.</p>
                </div>
                <div class="col-lg-5 pull-lg-5">
                    <%= image_tag 'estate.png', class: 'img-fluid', alt: 'land image' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Hostel Agents</h2>
                    <p class="lead">Get access to verified agents to help you secure hostels for schools in Nigeria.</p>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <%= image_tag 'bed.jpg', class: 'img-fluid', alt: 'hostel bed' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <aside class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with us on:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/agentify" class="btn btn-secondary btn-lg" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/agentifyorg/" class="btn btn-secondary btn-lg" target="_blank"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </aside>
    <!-- /.banner -->