<div class="container">
  <div class="row m-t-14">
    <div class="col-md-12 text-center">
      <h2>Login</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 offset-md-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %> <small style="float: right;">
          <%= link_to "Forgot your password?", new_password_path(resource_name),class: "justify-content-end" %>
        </small>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>

          <div class="form-check">
            <label class="form-check-label">
                <%= f.check_box :remember_me, class: 'form-check-input' %>
                Remember me
            </label>
          </div>

        <% end -%>

        <div class="form-group">
          <%= f.submit "Login", class: 'btn btn-primary btn-block text-uppercase' %>
        </div>
      <% end %>

      <div class="form-group" style="margin-bottom: 100px;">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


