<div class="container">
<h1 class="lead">Admin Home Panel </h1>
  <div class="row">
    <div class="col-md-3">
      <div class="card card-inverse card-success">
        <div class="card-block bg-success">
          <div class="rotate">
            <i class="fa fa-briefcase fa-2x"></i>
          </div>
          <a href="<%= admin_activated_path %>">
            <h6 class="text-uppercase">Activated Businesses</h6>
            <h1 class="display-1">
              <%= @activated_businesses %>
            </h1>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-inverse card-success">
        <div class="card-block bg-danger">
          <div class="rotate">
            <i class="fa fa-briefcase fa-2x"></i>
          </div>
          <a href="<%= admin_requests_path %>" > 
            <h6 class="text-uppercase">Unactivated Businesses</h6>
            <h1 class="display-1">
              <%= @unactivated_businesses %>
            </h1>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-inverse card-success">
        <div class="card-block bg-info">
          <div class="rotate">
            <i class="fa fa-user fa-2x"></i>
          </div>
          <h6 class="text-uppercase">Admins</h6>
          <h1 class="display-1">
            <%= @total_admins %>
          </h1>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-inverse card-success">
        <div class="card-block bg-warning">
          <div class="rotate">
            <i class="fa fa-user fa-2x"></i>
          </div>
          <h6 class="text-uppercase">Admin Requests</h6>
          <h1 class="display-1">
            <%= @total_admin_requests %>
          </h1>
        </div>
      </div>
    </div>

  </div>

  <h2 class="lead m-t-14"> Business Statistics</h2>
    <div class="row m-t-14">
    <div class="col-md-3">
      <div class="card card-inverse card-success">
        <div class="card-block bg-success">
          <div class="rotate">
            <i class="fa fa-briefcase fa-2x"></i>
          </div>
          
            <h6 class="text-uppercase">Travel Agents</h6>
            <h1 class="display-1">
              <%= @travel_agents %>
            </h1>
          
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-inverse card-success">
        <div class="card-block bg-danger">
          <div class="rotate">
            <i class="fa fa-briefcase fa-2x"></i>
          </div>
            <h6 class="text-uppercase">Hostel Agents</h6>
            <h1 class="display-1">
              <%= @hostel_agents  %>
            </h1>
        
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-inverse card-success">
        <div class="card-block bg-info">
          <div class="rotate">
            <i class="fa fa-briefcase fa-2x"></i>
          </div>
          <h6 class="text-uppercase">Real Estate Agents</h6>
          <h1 class="display-1">
            <%= @estate_agents  %>
          </h1>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-inverse card-success">
        <div class="card-block bg-info">
          <div class="rotate">
            <i class="fa fa-briefcase fa-2x"></i>
          </div>
          <h6 class="text-uppercase">Car Agents</h6>
          <h1 class="display-1">
            <%= @car_agents  %>
          </h1>
        </div>
      </div>
    </div>

  </div>

</div>