<% provide(:title, "Admin list")%>

<div class="container">
  <h1>Admin list</h1>
  <p class="lead">
    There are <%= pluralize(@requests, "admin") %> in total.
  </p>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Last seen</th>
            <th>Sign in Count</th>
            <th>Approve</th>
            <th>Delete</th>
          </tr>
        </thead>
        <% @requests.each_with_index do |f, index| %>
        <% index += 1%>
        <tbody>
          <tr>
            <th scope="row"> <%= index %></th>
            <td> <%= f.email %> </td>
            <td> <%= f.last_sign_in_at %> </td>
            <td> <%= f.sign_in_count %> </td>

            <% if current_admin.admin? %>
              <td>
              <%= link_to 'Activate', admin_business_path(f), class: 'btn btn-success', method: :put %>
              </td>
            <% else %>
            <td>
              <button class="btn btn-primary">No permission</button>
            </td>
            <% end %>
            
            <% if current_admin.admin?%>
              <td>
                <%= button_to 'Delete', admin_business_path(f), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this business request ?" } %>
              </td>
            <% else %>
              <td>
                <button class="btn btn-danger">No permission</button>
              </td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <%= paginate @admins %>
</div>