<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield :title) %></title>
    <%= csrf_meta_tags %>
    <%= render 'shared/head_addons'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if !admin_signed_in? %>
    <%= render 'shared/navbar' %>
  <% else %>
    <%= render 'shared/admin_nav' %>
  <% end %>

    <div class="row m-t--15">
      <div class="col-md-12">
        <%= render 'shared/devise_flash' %>
      </div>
    </div>

		<%= yield %>

		<%= render 'shared/footer' %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval' => false %>
    <%= render 'shared/footer_addons'%>
  </body>
</html>
